<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/frame :: header">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



    <!-- Custom fonts for this template-->
    <link href="../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../../static/css/sb-admin-2.css" rel="stylesheet">
  </th:block>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <title>Register new Account</title>
</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-login-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h2 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form autocomplete="off" action="#" th:action="@{/register}"
                      th:object="${user}" method="post" class="user" role="form"
                      data-toggle="validator"
                      id="registerForm" >
                <div th:if="${confirmationMessage}" class="alert alert-success"
                     role="alert" th:text="${confirmationMessage}">confirmation Message</div>

                <div th:if="${successMessage}" class="alert alert-success"
                     role="alert" th:text="${successMessage}">Success</div>

                <div th:if="${warningMessage}" class="alert alert-danger"
                     role="alert" th:text="${warningMessage}"> Alert </div>

                <div th:if="${passwordMessage}" class="alert alert-danger"
                     role="alert" th:text="${passwordMessage}">PW Message</div>

                <div th:if="${#fields.hasErrors('username')}"
                     th:errors="*{username}"
                     class="validation-message alert alert-danger" role="alert">Username validation error</div>

                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                     class="validation-message alert alert-danger" role="alert"></div>

                <div th:if="${#fields.hasErrors('pw')}"
                     th:errors="*{pw}"
                     class="validation-message alert alert-danger" role="alert"></div>

                <div class="form-group">
                  <input type="text" th:field="*{username}" class="form-control form-control-user" id="username"
                         minlength="3" required="true" placeholder="Username">
                </div>
                <div class="form-group">
                  <input type="email" th:field="*{email}" class="form-control form-control-user" id="exampleInputEmail"
                         required="true" placeholder="Email Address">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" th:field="*{pw}" class="form-control form-control-user" id="exampleInputPassword"
                           minlength="5" required="true" placeholder="Password">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" th:field="*{pwConfirm}" class="form-control form-control-user" id="exampleRepeatPassword"
                           minlength="5" required="true" placeholder="Repeat Password">
                  </div>
                </div>
                <div class="g-recaptcha d-flex justify-content-center" th:attr="data-sitekey=${captchaSettings.site}"></div>
                <span id="captchaError" class="alert alert-danger col-sm-4" style="display:none"></span>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                  Register Account
                </button>
<!--                <hr>-->
<!--                <a href="index.html" class="btn btn-google btn-user btn-block">-->
<!--                  <i class="fab fa-google fa-fw"></i> Register with Google-->
<!--                </a>-->
<!--                <a href="index.html" class="btn btn-facebook btn-user btn-block">-->
<!--                  <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook-->
<!--                </a>-->
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="#" th:href="@{/forgot-password}">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="#" th:href="@{/register}">Create an Account!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <th:block th:replace="fragments/frame :: js">
    <!-- Bootstrap core JavaScript-->
    <script src="../../static/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../static/js/sb-admin-2.min.js"></script>
  </th:block>

</body>

</html>
